<!doctype html>
<html lang="en">
    <head>
        <title>HTML5 Boilerplate</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <meta name="description" content="Gulp HTML5 LESS">

        <!-- Favicon -->
        <link rel="shortcut icon" href="" type="image/x-icon">
        <link rel="icon" href="" type="image/x-icon">

        <!-- Fonts -->
        <link rel="stylesheet" href=""> 
        
         <!-- Stylesheets -->
        <link rel="stylesheet" href="css/vendor.min.css"> 
        <link rel="stylesheet" href="css/styles.min.css"> 
      </head>  
    <body>

        <h1>html5-boilerplate generator that scaffolds out a front-end web ap</h1>

        <!-- Scripts -->
        <script src="js/vendor.min.js"></script>
        <script src="js/app.min.js"></script>
    </body>
</html>
